.App {
  text-align: center;
  font-size: 125%;
}

main {
  font-family: "Barlow", sans-serif;
  background-color: #9BD694;
}

.questionHandlingSection {
  padding: 50px 0;
  background-color: #9BD694;
}

li {
  list-style: none;
}

.loadGameSection ul {
  margin: 0;
}

.gameHandlingSect {
  padding-bottom: 50px;
}

select {
  text-align: center;
}

ul {
  padding: 0;
}

/* dropdowns */

select {
  background-color: #AFEDFF;
  border-radius: 15px;
  border: none;
  margin-bottom: 30px;
  box-shadow: 5px 5px 0 black;
  font-size: 1.1rem;
  padding: 5px 20px;
  cursor: pointer;
}

/* buttons */

button {
  padding: 0;
  margin: 5px;
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  background-color: #FFB0C6;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 0 black;
  cursor: pointer;
}

.submitButton {
  margin-top: 25px;
}

button:hover,
button:focus {
  background-color: #AFEDFF;
  transition: 1s;
}

/* radio button */

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

label {
  display: flex;
  justify-content: space-between;
  background-color: #9BD694;
  padding: 10px 50px;
  border-radius: 25px;
  margin: 5px 0;
}

input[type="radio"]:hover + label {
  background-color: #FFB0C6;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #FFB0C6;
  box-shadow: 5px 5px 0 black;
}

input[type="radio"]:focus + label {
  border: 2px dashed black;
}

/* Multiple choice answers section */
.choicesWrapper {
  height: 300px;
  background-color: #AFEDFF;
  border-radius: 15px;
  overflow: hidden
}

.choicesWrapper li,
.choicesWrapper label {
  background-color: #AFEDFF;
}


/* media queries */

@media (max-width: 540px) {
  .title {
    font-size: 2.5rem;
  }

  select {
    padding: 5px 5px;
    font-size: 1rem;
  }

  .wrapper {
    width: 95%;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  select {
    font-size: 0.9rem;
  }
}






